<link href="https://www.adalab.cn/admission.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: green;
}

heaedr { 
  justify-content: flex-start;          
}
aside {
  justify-content: flex-start;
  flex : 1;
  align-items: center
}
article{
  justify-content: flex-start;
  flex:3;
  align-items: center
}
footer {
  justify-content: flex-start;
  align-items: flex-end
}
